#zakomentuj/vymaz tento riadok ak chces commitnut .exe
*.exe

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.tlog
*.sbr
*.sdf
*.res
*.bi
*.sdf
*.unsuccessfulbuild
*.resources
*.lastbuildstate
*.pdb
*.metagen
*.suo
*.opensdf
*.manifest
ipch/